minimumReleaseAge=1440
blockExoticSubdeps=true
trustPolicy=no-downgrade
autoInstallPeers=false
strictPeerDependencies=true
strict-ssl=true
registry=https://registry.npmjs.org/
only-built-dependencies[]=esbuild
